.nav-bar {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.bottom-nav-bar {
  font-size: 20px;
}
.top-right-nav {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
.about-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.thankyou-page {
  background-color:'#45CCBC';
  color:'white';
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
} 

/* html, body, #container, .carousel {
	height:100%;
	margin: 0;
  width: 100%;
} */
#container {
  height: 80vh;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding-top: 180px;
}

$theme-blue: #14B6D4;

.image-slide {
	height: 100%;
	width: 100%;
  transition: background-image .3s ease-in-out;
  background-color: pink;
}
.image-container{
  position: relative;
  width: 100%;
  padding-left: 40px;
}
.button {
  position: absolute;
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #D7FDF0;
  color: grey;
  font-size: 16px;
  padding: 20px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
}
.button:hover {
  background-color: #AFCEC3;
}

.slide-arrow {
	color: $theme-blue;
	cursor: pointer;
  font-size: 3rem;
  padding: 10px;
	/* position: fixed; */
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}

